:root {
	--text: darkslategrey;
	--border: lightgrey;
	--accent: rgb(0, 109, 128);
	--bg: #dce3e1;
	--gradientTop: white;
	--gradientBottom: rgb(240, 248, 255, .8);
}


#ui {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 12px 18px;
  border-radius: 12px;
  backdrop-filter: blur(8px);
  background: #ffffff26;
  border: 1px solid rgba(255,255,255,0.25);
  color: white;
  font-family: sans-serif;
}

input[type=range] {
  cursor: pointer;
}

nav {
  padding: 10px;
  position: fixed;
  left: 10px;
  top: 10px;
  width: auto;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between the two links */
}

nav a {
  display: block;
  background-color: rgba(232, 232, 232, 0.9); /* Semi-transparent background */
  border-radius: 5px;
  padding: 8px 12px;
  text-decoration: none;
  backdrop-filter: blur(5px); /* Optional: blur effect behind */
}

nav a:link,
nav a:visited {
  color: var(--text);
}

nav a:hover {
  background-color: rgba(232, 232, 232, 1);
}